<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 관리</title>
    	<link href="/css/components/pagination.css" rel="stylesheet" type="text/css">
        <link href="/css/components/button.css" rel="stylesheet" type="text/css">
        <link href="/css/components/admin/search.css" rel="stylesheet" type="text/css">
        <link href="/css/components/admin/dropdown-select.css" rel="stylesheet" type="text/css">
        <link href="/css/components/admin/main-header.css" rel="stylesheet" type="text/css">
	    <link href="/css/components/admin/faq/list.css" rel="stylesheet" type="text/css">
    	<script type="text/javascript" src="/js/admin/faq/list.js" defer></script>
</head>
<body>
    <main layout:fragment="main">
        <section class="main-section md:main-section">
            <h1 class="main-section-title">FAQ 관리</h1>
            <header class="main-section-header">
                <div class="main-section-count">
                    <p>총 <span th:text="${count}">00</span>개</p>
                </div>
    
                <!-- 등록, 수정, 삭제 버튼 -->
                <div class="manage-button">
                    <a href="/admin/faq/reg" class="store-create-button">
                        <input type="button" value="등록" class="cursor-pointer:pointer btn-main btn-main-create-admin btn-main-small">
                    </a>
                    <a href="/admin/faq/edit" class="store-edit-button">
                        <input type="button" value="수정" class="cursor-pointer:pointer btn-main btn-main-create-edit btn-main-small">
                    </a>
                    <a class="store-delete-button">
                        <input type="button" value="삭제" class="cursor-pointer:pointer btn-main btn-main-create-admin btn-main-create-delete btn-main-small">
                    </a>
                </div>
                    
                    <!-- 제목 검색 버튼 -->
                    <!--<form class="search-form">
                        <fieldset class="search md:search">
                            <legend class="d:none">제목</legend>
                            <input type="search" placeholder="제목">
                            <button type="submit" class="icon icon-color-black icon-search"></button>
                        </fieldset>
                    </form>-->
  
            </header>
        
            <!-- 본문!! -->
            <!-- faq 목록 -->
            <section class="faq-list">
	            <section th:each="f : ${faqList}" class="faq-block md:faq-block">
	                <h1 th:text="${f.title}" class="cursor-pointer:pointer faq-title">FAQ 제목</h1>
	
	                <div class="checkbox-block">
	                    <input type="checkbox" class="checkBox" name="checkBox" th:value="${f.faqId}">
	                </div>
	
	                <div class="faq-reg_date-block">
	                    <a th:text="${#dates.format(f.createdDate, 'yyyy.MM.dd')}" class="">2023년 9월 20일</a>
	                </div>
	            </section> 
	 
	
	            <!-- 페이지 이동 -->
                <div class="pagination">
	                <a class="" th:if="${currentPage > 1}" th:href="@{/admin/faq/list(page=${currentPage-1})}">&laquo;</a>
	                <a th:each="pageNo : ${#numbers.sequence(currentPage -5, currentPage +5)}"
	                	th:if="${pageNo > 0 and pageNo <= pageCount+1}" 
	                	th:text="${pageNo}" th:href="@{/admin/faq/list(page=${pageNo})}" 
	                	th:class="${currentPage == pageNo} ? 'page-active' : ''">
	                </a>
	                <a th:if="${currentPage < pageCount+1}" th:href="@{/admin/faq/list(page=${currentPage+1})}">&raquo;</a>
	            </div>
			</section>
        </section>
    </main>
</body>
</html>