<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 등록</title>
        <link href="/css/components/pagination.css" rel="stylesheet" type="text/css">
        <link href="/css/components/button.css" rel="stylesheet" type="text/css">
        <link href="/css/components/admin/search.css" rel="stylesheet" type="text/css">
        <link href="/css/components/admin/dropdown-select.css" rel="stylesheet" type="text/css">
        <link href="/css/components/admin/main-header.css" rel="stylesheet" type="text/css">
   	    <link href="/css/components/admin/faq/reg.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/admin/faq/reg.js" defer></script>

</head>
<body>
    <main layout:fragment="main" class="main-section md:main-section">
        <section class="reg-faq">
            <h1 class="reg-faq-title">faq 등록</h1>
            <form action="reg" method="post" class="reg-faq-form">
                <div class="faq-title">
                    <label class="d:none">제목</label>
                    <input name="title" type="text" placeholder="제목을 입력해주세요" required>
                </div>

                <div class="faq-content-block">
                    <textarea class="faq-content" name="content" required
                    placeholder="faq 본문을 작성 바랍니다."></textarea>

                    <div class="add-faq-pic" >
                        <label onchange="readURL(this);"></label>
                        <input type="file" class="icon icon-size:2 icon-color:black icon-gallery">
                        <img id="preview" />
                    </div>
                </div>

	            <div class="manage-button">
					<a class="store-edit-button">
	                    <input type="submit" value="등록" class="btn-main btn-main-create-admin btn-main-small">    
	                </a>
	                <a class="store-delete-button" href="/admin/faq/list">
	                    <input type="button" value="취소"
	                		class="btn-main btn-main-create-admin bg-color:logo-1 btn-main-small">
	                </a>
	            </div>
            </form>
        </section>
    </main>
</body>
</html>