<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나의 찜목록</title>

    <link href="/css/components/user/fav.css" rel="stylesheet" type="text/css">
<!--    <script src="/js/user/myfav.js"></script>-->
</head>
<body>
    <main layout:fragment="main">
        <section class="fav">
            <h1 class="d:none">찜목록관리</h1>
            <div class="total md:total">
                총 <span class="fcolor:logo1" th:text="${userView.favCount}">5</span>개
            </div>
            <div class="list md:list content">
                <section th:onclick="|location.href='@{/celeb/detail(restId=${f.restId})}'|" class="cursor-pointer:pointer fav-card md:fav-card" th:each="f : ${list}">
                        <h1 th:text="${f.restName}">수저가</h1>
                            <!--2 -->
                        <div class="image-block">
<!--                            <a th:href="@{/celeb/detail(restId=${f.restId})}">-->
                            <img src="/css/image/icon/food1.svg" th:src="@{/css/image/rest/bannerImg/{img} (img=${f.bannerImg})}">
<!--                            </a>-->
                        </div>
                        <!-- 3-->
                        <div class="content-block">
                            <p th:text="${f.content}">차돌박이 + 밥 무한리필 최고</p>
                        </div>
                        <!--4 -->
                        <div class="like-block" >
                            <form action="fav" th:method="DELETE">
                                <button type="submit" name="rest-id" th:value="${f.restId}" class="heart icon icon-size:2 icon-redheart icon-color:red ">좋아요</button>
                                <input type="hidden" name="user-id" th:value="${f.userId}">
                            </form>
    <!--                        <a data-id="3" th:data-name="${f.userId}"  th:data-id="${f.restId}" href="" id="heart" class="heart icon icon-size:2 icon-redheart icon-color:red ">좋아요</a>-->
                        </div>
                        <!-- 5-->
                        <div class="star-review-block">
                            <a href="" class="icon icon-size:3 icon-color:yellow icon-star:fill">별</a>
                            <span>3.5 (<span th:text="${f.reviewCount}">15</span> review)</span>
                        </div>
                </section>
            </div>
        </section>
    </main>

    </body>
</html>