<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>유명인</title>

        <link href="/css/components/menu/celeb.css" rel="stylesheet" type="text/css">
    <script src="/js/user/celeb.js" defer></script>
    </head>
    <body>
    <main layout:fragment="main">
        <section class="celeb">
            <h1>Celeb's Pick!</h1>
            <div class="align">
                <nav>
                    <h1 class="d:none">category</h1>
                <div>
                <ul class="celeb_list_btn">
                    <li><a href class="clicked">전체</a></li>
                    <li th:each="cc:${celebCategoryList}">
                        <a data-id="" class="" th:attr="data-id=${cc.celebId}" th:text="${cc.celebName}" href="?c=1" th:href="@{?c={c}(c=${cc.celebId})}"></a>
                    </li>
                </ul>
                </div>
                </nav>
                <section class="rest_list"> <!-- overflow-y : scroll -->
                    <h1 class="d:none">유명인 식당 목록</h1>
                    <div class="celeb_rest_list" >
                        <article class="celeb_rest" th:each="cr:${celebRestList}" >
                            <h1 class="d:none" >또순이네</h1>
                            <a class="rest_name" th:text="${cr.restName}" th:href="@{/celeb/detail(restId=${cr.restId},menuId=${cr.menuId})}">또순이네</a>
                            <a th:href="@{/celeb/detail(restId=${cr.restId},menuId=${cr.menuId})}"><img src="/img/1-1.png" th:src="@{/css/image/rest/bannerImg/{img} (img=${cr.bannerImg})}" ></a>
                        </article>
               <!--         <article class="celeb_rest">
                            <h1 class="d:none">또순이네</h1>
                            <a class="rest_name">또순이네</a>
                            <img src="/img/1-1.png">
                        </article>
                        <article class="celeb_rest">
                            <h1 class="d:none">또순이네</h1>
                            <a class="rest_name">또순이네</a>
                            <img src="/img/1-1.png">
                        </article>
                        <article class="celeb_rest">
                            <h1 class="d:none">또순이네</h1>
                            <a class="rest_name">또순이네</a>
                            <img src="/img/1-1.png">
                        </article>
                        <article class="celeb_rest">
                            <h1 class="d:none">또순이네</h1>
                            <a class="rest_name">또순이네</a>
                            <img src="/img/1-1.png">
                        </article>-->
                    </div>
                </section>
            </div>
        </section>
    </main>
    </body>
</html>