<!DOCTYPE html>

<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout.html}"
>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            href="/css/components/index/index.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="https://webfontworld.github.io/sandbox/SBAggro.css"
            rel="stylesheet"
        />
        <script src="/js/function/mainscroll1.js"></script>

        <title>맛잘알</title>
    </head>

    <body>
        <main
            layout:fragment="main"
            class="body"
        >
            <!--카테고리 목록으로-->
            <section class="category-link">
                <h1 class="d:none">카테고리</h1>
                <div class="menu-link">
                    <div class="link-first">
                        <a
                            class="link-card card1"
                            href="/notice/list"
                        >
                            <img
                                class
                                src="/css/image/icon/main-commu.svg"
                            />
                            <span class="card-text">공지사항</span>
                        </a>
                        <a
                            class="link-card card2"
                            href="/celeb/list"
                        >
                            <img
                                class
                                src="/css/image/icon/celeb.svg"
                            />
                            <span class="card-text">유명인</span>
                        </a>
                    </div>
                    <div class="link-second">
                        <a
                            class="link-card card2"
                            href="/commu/main"
                        >
                            <img
                                class
                                src="/css/image/icon/main-commu.svg"
                            />
                            <span class="card-text">커뮤니티</span>
                        </a>
                        <a
                            class="link-card card1"
                            href="/user/mypage"
                        >
                            <img
                                class
                                src="/css/image/icon/ranking.svg"
                            />
                            <span class="card-text">마이페이지</span>
                        </a>
                    </div>
                </div>
            </section>

            <!-- 랭킹 + 버튼  -->
            <div class="main_btn_div">
                <section class="rank">
                    <h1 class="title"><a href="/rank">오늘의 랭킹</a></h1>
                    <div
                        class="rank-container"
                        th:each="rank:${rankingList}"
                    >
                        <div class="rank-box">
                            <a
                                href="menu/restDetail/rest_detail"
                                th:href="@{celeb/detail(restId=${rank.restId}, menuId=${rank.menuId})}"
                            >
                                <img
                                    class="rank-img"
                                    src="/css/img/gold.png"
                                    th:src="@{/css/image/{img} (img='rank'+${rank.rank}+'.png')}"
                                />
                            </a>
                            <a
                                href="menu/restDetail/rest_detail"
                                th:href="@{celeb/detail (restId=${rank.restId})}"
                            >
                            </a>

                            <a
                                href="menu/restDetail/rest_detail"
                                th:href="@{celeb/detail(restId=${rank.restId}, menuId=${rank.menuId})}"
                            >
                                <span
                                    class="rank-name"
                                    th:text="${rank.restName}"
                                ></span>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="rank mxd:d:none">
                    <h1 class="title"><a href="/rank">금주의 랭킹</a></h1>
                    <div
                        class="rank-container"
                        th:each="rank:${rankingList}"
                    >
                        <div class="rank-box">
                            <a
                                href="menu/restDetail/rest_detail"
                                th:href="@{celeb/detail(restId=${rank.restId}, menuId=${rank.menuId})}"
                            >
                                <img
                                    class="rank-img"
                                    src="/css/img/gold.png"
                                    th:src="@{/css/image/{img} (img='rank'+${rank.rank}+'.png')}"
                                />
                            </a>
                            <a
                                href="menu/restDetail/rest_detail"
                                th:href="@{celeb/detail (restId=${rank.restId})}"
                            >
                            </a>
                            <!--							<img class="rest-img" src="/css/image/${rank.img}"-->
                            <!--								 th:if="${rank.img != null}" th:src="@{/css/image/${rank.img}}">-->
                            <a
                                href="menu/restDetail/rest_detail"
                                th:href="@{celeb/detail(restId=${rank.restId}, menuId=${rank.menuId})}"
                            >
                                <span
                                    class="rank-name"
                                    th:text="${rank.restName}"
                                ></span>
                            </a>
                        </div>
                    </div>
                </section>
            </div>

            <!-- 검색창 -->

            <div class="srchbar_div">
                <form action="/search/result">
                    <input
                        type="text"
                        placeholder="검색창"
                        name="query"
                        minlength="1"
                    />
                    <button
                        type="submit"
                        class="icon icon-search icon-hover search"
                    ></button>
                </form>
            </div>

            <!-- 횡스크롤 -->
            <div class="skin">
                <section class="scrollMenu">
                    <h1 class="title">맛집 추천</h1>
                    <div class="container">
                        <article
                            class="card"
                            th:each="rc:${recom}"
                        >
                            <h1 th:text="${rc.restName}"></h1>
                            <a
                                href="menu/restDetail/rest_detail"
                                th:href="@{celeb/detail (restId=${rc.restId}, menuId=${rc.menuId})}"
                            >
                                <img
                                    src
                                    th:src="@{/css/image/rest/bannerImg/{img} (img=${rc.bannerImg})}"
                                    alt
                                />
                            </a>
                        </article>
                    </div>
                </section>
                <section class="scrollMenu">
                    <h1 class="title">최신 후기</h1>
                    <div class="container">
                        <article
                            class="reviewCard"
                            th:each="rv:${review}"
                        >
                            <h1
                                class="rest-name"
                                th:text="${rv.restName}"
                            >
                                상호명
                            </h1>
                            <div class="text-box">
                                <p th:text="${rv.content}">a</p>
                            </div>
                            <div class="alias">
                                <span th:text="${rv.alias}">작성자 닉네임</span>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>
