@import url('https://webfontworld.github.io/sandbox/SBAggro.css');

.header{
    background-color: var(--color-base-0);
    color: var(--color-base-4);
    font-weight: bold;
    padding : 0 50px;
    height : 60px;
    display : flex;
    border-bottom: 1.5px solid var(--color-base-3);
	margin-bottom : 50px;
}

.header
    .content-box{
    /* font-family: 'SBAggro'; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 60px;
}
    
.header
    .content-box
    	.back-arrow{    
    		align-items: flex-start;
}
    
.header 
	.content-box 
		.tab-title {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    height: 100%; /* Optional: Adjust the height as needed */
		    margin: auto;
}
    
.header
    nav
        ul {
            width:100%;
            display: flex;
            justify-content: flex-end;
        }
    
.header
    .web
        li{
        margin-left: 40px;
        position: relative;
        line-height: 4;
        }

.header
    .web
        .log{
        display: flex;
        align-items: center;

    }

@media (min-width: 700px) {

    .header 
        .content-box {
        max-width:1400px;
        }
    
    .header
        .web
            a:hover{
                color: var(—color-base-5);

            }

            
    .header
        .web
        li:hover
        a::after{
            content: '';
            width: 102%;
            border-bottom: 3px solid var(—color-base-4);
            position: absolute;
            bottom: 0;
            left: 0;
        }
        

}